html {
      height: 100%;
      background-color: black;
      margin: 0;
      padding: 0;

      font-size: 0.7cm;
    }
    body {
      margin: 1em;
      padding: 0;
      color: ivory;

      font-size: 1rem;
    }

    div.theborder {
      box-shadow: 8px 8px 5px;
    }
    .hgl {font-weight: bold; color: navajowhite; font-size: 1.2rem; }
    #top {text-align: center; text-shadow: 2px 2px navajowhite;
          border-bottom: solid 2px ivory;
          padding-bottom: 0.6rem; max-width: 50%; margin: auto;}
    .theborder {border: solid 2px ivory; margin: 1em; padding: 1em;}

    .mitem {color: navajowhite; margin-left: 1em; font-style: italic; font-size: 1.2rem;}

    .backlink {color: navy; }
    div a {color: navajowhite; position: absolute; bottom: 0; right: 0.5em;
           text-decoration: none;}

    /* Styl tooltipa */
    .tooltip {
      position: relative;
      display: block;
    }

    .tooltip::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 125%;  /* shift/position to the right */
      left: 33%;  /* shift/position up */
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      min-width: 10em;
    }

    .tooltip:hover::after {
      opacity: 1;
    }
